* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}

@keyframes move {
    from {
        transform: translate(0%);
    }

    50% {
        transform: translate(-40%);
    }

    to {
        transform: transform(0%);
    }
}

body {
    margin: 0;
    padding: 0.5em;
    overflow: auto;
}

.flex {
    display: flex;
}

.topdiv {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0.5em;
}

button {
    margin-left: 0.5em;
}

button.no-background {
    border-style: none;
}

option {
    border-width: 1px;
    border-radius: 1em;
}

.no-background {
    /* remove styling, except the border */
    background: none;
    background-color: inherit;
    color: inherit;
    padding: 0;
}

.left-margin-1em {
    margin-left: 1em;
}

table {
    width: 100%;
    padding: 0.5em;
}

tbody>tr:nth-child(odd) {
    background-color: rgba(127, 127, 127, 0.25);
}

thead {
    background-color: rgba(127, 127, 127, 0.5);
}

h4 {
    margin: 0;
    padding: 0;
    padding-top: 0.25em;
}

th,
td {
    min-height: 4em;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#empty {
    background-color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
